@model shop_view.Models.Data

<h2>Login/Register</h2>

<form asp-action="Form" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" />
    </div>
    <div>
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" />
    </div>
    <div>
        <label asp-for="Email">Email Address</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" />
    </div>
    <div>
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input asp-for="ConfirmPassword" type="password" />
    </div>
    <div>
        <label asp-for="PhoneNumber">Phone Number</label>
        <input asp-for="PhoneNumber" />
    </div>
    <div>
        <label asp-for="Age">Age</label>
        <input asp-for="Age" />
    </div>
    <div>
        <label asp-for="City">Select a City</label>
        <select asp-for="City" asp-items="Html.GetEnumSelectList<shop_view.enums.Cities>()">
            <option value="">Please select a city</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
</form>
<a asp-controller="Home" asp-action="Index">Back to List</a>
