@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the Shop!</h2>
<p>Choose a category:</p>
<ul>
    <li><a asp-controller="Phone" asp-action="Index">Phones</a></li>
    <li><a asp-controller="Screen" asp-action="Index">Screens</a></li>
    <li><a asp-controller="SmartWatch" asp-action="Index">SmartWatches</a></li>
</ul>