@model shop_view.Models.Phone

<h2>Delete Phone</h2>

<p>Are you sure you want to delete the following phone?</p>
<dl class="dl-horizontal">
    <dt>Brand:</dt>
    <dd>@Model.Brand</dd>
    <dt>Category:</dt>
    <dd>@Model.PhoneCategory</dd>
    <dt>Price:</dt>
    <dd>@Model.Price</dd>
    <dt>Description:</dt>
    <dd>@Model.Description</dd>
</dl>
<form asp-controller="Phone" asp-action="Delete" method="post">
    <input asp-for="PhoneID" type="hidden" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Phone" asp-action="Index" class="btn btn-default">Cancel</a>
</form>
